pyvenv.cfg
**/__pycache__/ 
appstore/members/migrations/__pycache__
**__init__*
venv/
Lib
Scripts
.vscode
appstore/db.sqlite3
.env
media/files/*
appstore/media/files/*
*.session
*.session-journal
tgdump
dumpfiles
