{% extends 'base.html' %}
{% block title %}Home - App Store{% endblock %}

{% load static %}
{% block content %}
<div class="home-page">
  <!-- sidebar of filtersr -->
  <aside class="filters">
    <h3><span class="material-symbols-rounded">filter_alt</span>Filters</h3>
    <form method="get">
      <!-- filters -->
      <label>
        <input type="checkbox" name="category" value="tools">
        Tools
      </label><br>
      <label>
        <input type="checkbox" name="category" value="guides">
        Guides
      </label><br>
      <label>
        <input type="checkbox" name="category" value="announcements">
        Announcements
      </label><br>
      <button type="submit">Apply</button>
    </form>
  </aside>

  <!-- feed of apps -->
  <section class="feed">
    {% for post in posts %}
    <div class="post-wrapper">
      <!-- info of the admin who posted -->
      <div class="admin-info">
        <img src="{{ post.admin.avatar_url }}" alt="Avatar" class="avatar">
        <span class="admin-name">{{ post.admin.username }}</span>
      </div>

      <!-- card (of the post)-->
      <div class="post-card elevation-2">
        <div class="post-header">
          <h2 class="post-title">{{ post.title }}</h2>
          <a href="{% if post.category == 'tools' %}{% url 'post_app_detail' post.pk %}
          {% else %}{% url 'post_forum_detail' post.pk %}{% endif %}"
          class="read-more-btn">+ more
          </a>
            <div class="card">
              <p>⭐ {{ post.rating }}</p>
              <a href="{% url 'post_detail' post.pk %}">Read more →</a>
            </div>
        </div>

        <p class="post-description">
          {{ post.description|truncatewords:40 }}
        </p>

        <div class="post-footer">
          <div class="post-stats">
            <span class="material-symbols-rounded">visibility</span> {{ post.views }} &nbsp;
            <span class="material-symbols-rounded">favorite</span> {{ post.likes }} &nbsp;
            <span class="material-symbols-rounded">comment</span> {{ post.comments }}
          </div>
          <div class="post-time">
            <span class="material-symbols-rounded">calendar_today</span> {{ post.timestamp }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
