{% extends "base.html" %}
{% load static  %}
{% block content %}
<div class="registration-form">
  <h2>Register</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label for="id_avatar">Avatar Image</label>
    <input type="file" name="avatar" id="id_avatar" accept="image/*">

    <div class="avatar-preview">
        <img id="avatarPreviewImg" src="#" alt="Preview" style="display: none;">
    </div>

    <button type="submit">Sign Up</button>
  </form>
  <script src="{% static 'js/avatar_preview.js' %}">  </script>
</div>
{% endblock %}